body {
    background: url(../images/SunsetBackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-color: rgba(17, 0, 255, 0.014);
    font-size: 100%;
  }
  .searchBTN{
      border-radius: 0;
  }
  .searchBar{
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.822);
      border-color: rgba(160, 160, 160, 0);
      
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
  }
  .fa-star{
      font-size: 1.5rem;
      cursor: pointer;
  }
  .fa-star:hover{
      color: yellow;
  }
  .DPOpac{
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(160, 160, 160, 0) !important;
    color: white !important;
    font-size: 1.2rem;
  }
 
.DPOpac:hover{
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(160, 160, 160, 0) !important;
    color: white !important;
    font-size: 1.2rem;
    
}
.DPOpac:active{
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(160, 160, 160, 0) !important;
    color: white !important;
    font-size: 1.2rem;
    
}
.DPOpac:focus{
        border-color: rgba(160, 160, 160, 0) !important;
    border-color: rgba(160, 160, 160, 0) !important;
    color: white !important;
    font-size: 1.2rem;
    
}
.boxes{
    border: #FFFFFF99 solid 3px;
    cursor: pointer;
}
.boxes:hover{
    background-color: rgba(0, 0, 0, 0.11);
    border: white solid 3px;
}
.curentTemp{
    font-size: 3rem;
    font-weight: bolder;
}
.dropdown-item:hover{
    color: #B47D0F;
}
.lowTemp{
    color: #FFFFFF99;
    font-size: 1.5rem;
    font-weight: 700;
}
.highTemp{
font-size: 1.5rem;
font-weight: 700;
}
.forcast{
    
    font-size: 1.7rem;
}
.forecastDate{
    font-size: 1.3rem;
}
.Location{
    font-size: 1.5rem;
    
}
.WeatherStatus{
    font-size: 2.5rem;
}
.wOther:hover > .details{
    transform: translate(-8rem,2.8rem);
    transition: .5s ease;
}
.Measurement{
    font-weight: 500;
    font-size: 1.5rem;
}
